{
    frankenphp {
		php_ini {
			opcache.enable 1
			opcache.enable_cli 1
			opcache.jit_buffer_size 100M
			opcache.jit tracing
			ffi.enable 1
		}
	}
    order php_server before file_server

}

:8000 {
    root * /var/www/app/public

    encode zstd gzip

    @static {
        path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.ttf *.eot
    }

    header @static Cache-Control "public, max-age=31536000, immutable"

    header {
        -Server
        -X-Powered-By
        defer
    }

    file_server

    php_server
}
